# Git
.git
.gitignore
.gitattributes

# VS Code
.vscode/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# NuGet Packages
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Misc
README.md
LICENSE
*.md